





<!--
<% if bookmark.account == current_account%>
<div class="mb-4 p-4 card">
  <div id="<%= dom_id bookmark %>">
    <p>
      <strong>Title:</strong>
      <%= bookmark.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= bookmark.description %>
    </p>

    <p>
      <strong>Url:</strong>
      <%= bookmark.url %>
    </p>

    <p>
    <strong>Account ID:</strong>
    <%= bookmark.account_id %>
    </p>

    <p>
      <%= link_to "Show this bookmark", bookmark %>
    </p>
  </div>
</div>
<% end %>
-->