<%- h = request.headers.env.reject { |key| key.to_s.include?('.') } %>

<div class="container">
  <h1 class="h3">About</h1>

  <div class="alert alert-info d-flex flex-row justify-content-start align-items-center" style="border-radius: 0.4rem;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle me-3 d-none d-sm-block" viewBox="0 0 16 16"> <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path> <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path> </svg>
    <p class="mb-0">
      <span class="d-block fs-small">Display here any data about the app that you need</span>
      <span class="d-block fs-small">We've only shown generic data here, but feel free to "hack" this section by adding info about env var, config, etc.</span>
    </p>
  </div>


  <div class="card px-4 py-1 my-4">
    <div class="d-flex">
      <div style="margin-top: 2rem;">

        <div>
          About the app :
        </div> 
        <%= ap(Rails::Info.to_s.split("\n")).html_safe %>

        <div>
          About the request :
        </div> 
        <%= ap(h).html_safe %>

        <div>
          Remote IP is :
        </div> 
        <div>
          <%= ap(request.remote_ip).html_safe %>
        </div> 

      </div>

      <%= params[:message] %>
    </div>
  </div>

  <%= link_to 'Back to Monitoring', admin_monitoring_path, class: "btn btn-primary btn btn-dark btn-sm px-3 mb-4" %>
  <%= link_to 'Back to Admin home', admin_root_path, class: "btn bg-white btn-sm px-3 mb-4" %>

</div>
