<header class="container" style="max-width: 1280px;">
  <nav class="navbar navbar-expand-lg navbar-light bg-white mt-1">
    <div class="container-fluid">
      <%= render 'shared/logo'  %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#actualNavbar" aria-controls="actualNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="actualNavbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!--
          <li class="nav-item px-2">
            <a class="nav-link fw-500" aria-current="page" href="/blog">Blog</a>
          </li>
          -->
          <li class="nav-item px-2">
            <a class="nav-link fw-500" aria-current="page" href="/about">About</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link fw-500" aria-current="page" href="/pricing">Pricing</a>
          </li>
        </ul>
        <div class="ms-auto navbar-nav">
          <% if rodauth.logged_in? %>
            <% if allowed_to?(:index?, :admin) %>
              <li><a class="nav-link fw-500 me-3 px-2" href="/admin">Admin</a></li>
            <% end %>
            <%= link_to "Bookmarks", profile_bookmark_path, class:"nav-link fw-500 me-3 px-2" %>
            <%= form_with url: rodauth.logout_path, method: :post, data: { turbo: false } do |form| %>
              <%= form.submit rodauth.logout_button, class: "nav-link fw-500 border-0 bg-white me-4 ms-2 ms-lg-0 mb-2 mb-lg-0 " %>
            <% end %>
          <% else %>
            <%= link_to "Sign up", rodauth.create_account_path, class:"nav-link fw-500 me-3 px-2" %>
            <%= link_to "Sign in", rodauth.login_path, class:"nav-link fw-500 me-4 px-2" %>
          <% end %>
          <a class="btn btn-dark text-white fw-500" href="/pricing">
            Get a Bored <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="22" height="22" fill="currentColor" class="w-6"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path></svg>
          </a>
        </div>
      </div>
  </nav>
</header>
