<div class="landing py-5 my-5">
  <%= render 'home_hero'  %>
  <%= render 'home_benefits'  %>
  <!-- Not enough content for the page sections below, so I have commented them out. -- Stuart 4-26-2022 -->
  <!-- <%= render 'home_banner'  %> -->
  <!-- <%= render 'home_features'  %> -->
  <!-- <%= render 'home_testimonials'  %> -->
  <%= render 'home_recall'  %>
</div>
