<div class="container py-3 px-4">
  <div class="d-flex flex-row justify-content-between align-items-center mb-4">
    <h1 class="mt-4 mb-2 mb-lg-0 fw-bold h4">Exit</h1>
  </div>
  <div class="mb-4 p-4 card">
    <h1 class="h5 pb-3">Logout from application</h1>
      <%= form_with url: rodauth.logout_path, method: :post, data: { turbo: false } do |form| %>
        <% if rodauth.features.include?(:active_sessions) %>
          <div class="form-group mb-2">
            <div class="form-check">
              <%= form.check_box rodauth.global_logout_param, id: "global-logout", class: "form-check-input" %>
              <%= form.label "global-logout", rodauth.global_logout_label, class: "form-check-label" %>
            </div>
          </div>
        <% end %>
        <p class="fs-small">You'll be disconnected from the application.</p>
        <div class="form-group mb-2">
          <%= form.submit rodauth.logout_button, class: "btn btn-sm btn-dark" %>
        </div>
      <% end %>
  </div> 
  <div class="p-4 card">
    <h1 class="h5 pb-3">Close your account</h1>
    <p class="fs-small">Once you delete your account, all related data will be also removed. There is no going back. Please be certain.</p>
    <%= form_with url: rodauth.close_account_path, method: :post, data: { turbo: false } do |form| %>
      <% if rodauth.close_account_requires_password? %>
      <div class="form-group mb-2">
        <%= form.label "password", 'Enter your current password', class: "fs-small mb-0 text-muted" %>
        <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, required: true, class: "form-control #{"is-invalid" if rodauth.field_error(rodauth.password_param)}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
        <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "invalid-feedback", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
      </div>
      <% end %>
      <div class="form-group mb-2">
        <%= form.submit rodauth.close_account_button, class: "btn btn-sm btn-danger" %>
      </div>
    <% end %>
  </div> 

</div>
